.showroom_row_container {
    width: 100%;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.showroom17_row_container img {
    @include responsive-image;
    /* width: 25px; */
    /* height: 75px; */
    
    width: calc(100% / 16); /* Divide the width equally among the images */
    max-width: 100%; /* Ensure images don't exceed their original size */
    height: auto; /* Maintain aspect ratio */
    margin: 0px;
    cursor: pointer;
}

.showroom14_row_container img {
    @include responsive-image;
    /* width: 25px; */
    /* height: 75px; */
    
    width: calc(100% / 13); /* Divide the width equally among the images */
    max-width: 100%; /* Ensure images don't exceed their original size */
    height: auto; /* Maintain aspect ratio */
    margin: 0px;
    cursor: pointer;
}